@import '_reset.scss';
@import '_forms.scss';
@import '_wordpress.scss';
@import '_comments.scss';
@import '_font_fontawesome.scss';
@import '_font_opensans.scss';
@import '_sprite.scss';
@import '_mixin.scss';
$width: 980px;
$footer: 30px;
$footer_margin: $footer - 2 * $footer;
$color: #444;
$color_a: #000;
$trs: all\: .5s;
$tshd: 1px 1px 2px darken($color, 20%);
$pdfbdr: 3px solid grey;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;

  padding: 15px 0;

  color: $color;
  background-color: #646464;
}
a {
  transition: $trs;

  color: $color_a;
  &:hover {
    color: lighten($color_a, 10%);
  }
  &:active {
    color: lighten($color_a, 20%);
  }
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;
}
.wrapper,
header,
section,
footer {
  position: relative;

  @extend .clearfix;
}

header,
section {
  width: $width;
  margin: 0 auto;

  background-color: #fff;
}
header {
  z-index: 0;

  border: $pdfbdr;
  border-bottom: 0;
  border-radius: 8px 8px 0 0;

  @extend .clearfix;
  .me {
    display: inline-block;
    padding: 25px 0 0 25px;

    width: 20%;
    img {
      max-width: 100%;
      border-radius: 3px;
    }
  }
  h1 {
    font-size: 140%;

    position: absolute;
    top: 20px;
    left: 30%;

    text-shadow: $tshd;
  }
  h6 {
    font-size: 120%;

    position: absolute;
    top: 160px;
    left: 30%;
    span {
      font-size: 80%;
    }
  }
  ul {
    position: absolute;
    top: 50px;
    left: 30%;
    li {
      a {
        text-decoration: none;
      }
    }
    .phone,
    .email,
    .skype {
      position: relative;

      padding: 5px 5px 5px 30px;
      &:before {
        font-family: 'FontAwesome';
        line-height: 1.5;

        position: absolute;
        top: 3px;
        left: 0;

        display: block;

        width: 25px;
        height: 25px;

        content: '';
        text-align: center;

        border-radius: 50%;
      }
    }
    .phone {
      &:before {
        content: '';
      }
      a {
        color: #000;
        &:hover {
          border-bottom: 1px dotted #000;
        }
      }
    }
    .email {
      &:before {
        content: '';
      }
      a {
        color: #000;
        &:hover {
          border-bottom: 1px dotted #000;
        }
      }
    }
    .skype {
      &:before {
        content: '';

        color: rgb(1, 163, 222);
      }
      a {
        color: rgb(1, 163, 222);
        &:hover {
          border-bottom: 1px dotted rgb(1, 163, 222);;
        }
      }
    }
    .social {
      a {
        line-height: 1.5;

        display: inline-block;

        width: 25px;
        height: 25px;

        text-align: center;

        opacity: .8;
        border: 1px solid transparent;
        border-radius: 5px;

        @extend .fa;
        &:hover {
          opacity: 1;
          border: 1px dotted $color;
        }
      }
      .fa-google-plus-square {
        color: rgb(186, 53, 38);
      }
      .fa-vk {
        color: rgb(62, 98, 138);
      }
      .fa-facebook-square {
        color: rgb(65, 94, 155);
      }
      .fa-linkedin-square {
        color: rgb(1, 119, 181);
      }
    }
  }
}
section {
  position: relative;
  z-index: 0;

  width: $width;
  padding: 25px 25px $footer;

  border: $pdfbdr;
  border-top: 0;
  border-bottom: 0;
  border-radius: 0 0 8px 8px;
  h2 {
    font-size: 160%;

    margin: 0 0 10px;
  }
  ul {
    padding: 10px 10px 10px 30px;

    list-style-type: circle;
    li {
      margin: 0 0 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      text-decoration: none;
      &:hover {
        border-bottom: 1px dotted $color;
      }
    }
  }
  .summary {
    margin-left: 12px;
    padding: 10px 10px 10px 10px;

    animation: linear 5s summary infinite;

    border-left: 7px solid $color;
  }
}
@keyframes summary {
  0% {
    border-color: darken($color, 20%);
  }
  50% {
    border-color: $color;
  }
  100% {
    border-color: lighten($color, 20%);
  }
}
article {
  margin-bottom: 10px;
  padding-bottom: 10px;

  border-bottom: 1px dotted $color;
}
.place-of-work {
  table {
    th {
      padding: 5px;

      background-color: lighten($color, 70%);
    }
    td {
      font-size: 80%;

      width: 15%;
      padding: 10px 5px;
      &:nth-child(3) {
        padding: 10px 15px;

        text-align: center;
      }
      &:last-child {
        width: 55%;
      }
    }
  }
}
.folio {
  /*   display: none; */
}
.hobbies {
  margin-bottom: 0;
  padding-bottom: 0;

  border-bottom: 0;
}
#scroll {
  position: fixed;
  right: 150px;
  bottom: 150px;

  display: block;

  width: 50px;
  height: 100px;
  a {
    display: block;

    width: 50px;
    padding: 5px 0;

    text-align: center;
  }
  .fa-print {
    font-size: 200%;
    animation: linear 5s scroll infinite;
  }
  .top {
    font-size: 400%;
    font-weight: bold;

    text-decoration: none;

    opacity: .4;
    &:hover {
      opacity: 1;
    }
  }
}
@keyframes scroll {
  50% {
    color: red;
  }
}
footer {
  font-size: 60%;

  position: relative;

  width: $width;
  height: $footer;
  margin: $footer_margin auto 0;

  text-align: center;

  border: $pdfbdr;
  border-top: 0;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
  .copyright {
    margin: 0;
  }
}

@import '_print.scss';
